body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    background: url(https://thumbs.dreamstime.com/b/security-concept-login-digital-background-pixelated-words-d-render-30468616.jpg);
    background-size: cover;

}
.box{
    width:300px;
    padding: 30px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:rgb(5, 6, 6);
    text-align: center;
    border-radius: 12px;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.box input[type="text"],.box input[type="password"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:3px solid white;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 12px;
    transition: 0.25px; 
}
::placeholder{
    color: white;
    opacity: 1;
}
.box input[type="text"]:focus,.box input[type="password"]:focus
{
    width:270px;
    border-color: #00e5ffec;
}
.box input[type="submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #23a6c3;
    padding: 14px 35px;
    
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor:pointer;
}
.box input[type="submit"]:hover
{
    background-color: green;
}